# Dependencies
node_modules/

# Database (will be created on server)
agadeepaoli.db

# Uploaded images (will be created on server)
uploads/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Zip backup
*.zip
